<div class="row">
  <div class="col-md-4">
    {{#if user.image}}
    <img class="img-responsive center-block" src="{{ user.image }}" style="width: 300px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    {{else}}
    <img class="img-responsive center-block" src="https://i.imgur.com/Ug1ebjV.png" style="width: 300px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    {{/if}}
  </div>
  <div class="col-md-8">
    <h3 class="mb-4">{{ user.name }} profile</h3>
    <h3 class="mb-4">{{ user.email }}</h3>
    <br>
    <h6 class="mb-2">{{ commentCount }} 已評論餐廳</h6>
    <h6 class="mb-2">{{ favoriteCount }} 已收藏餐廳</h6>
    <h6 class="mb-2">{{ followingCount }} following(追蹤者)</h6>
    <h6 class="mb-2">{{ followerCount }} followers(追隨者)</h6>
    <br>
    {{#ifCond user.id loginId}}
    <a class="btn btn-primary link-light" href="/users/{{ user.id }}/edit">Edit</a>
    {{/ifCond}}
    <br>
  </div>
  <hr> 
  <div class="row">
    <div class="col-md-4 row me-2">
      <div>
        <h5>追蹤者 : {{ followingCount }}</h5>
      </div>
      <br>
      {{#each users}}
        {{#if this.isFollowing}}
          <div class="col-md-3 d-flex">
            <a href="/users/{{this.id}}">
              <img class="card-img-top img-fluid" src="{{this.image}}"  width="60px" height="40px">
            </a>
          </div>
        {{/if}}
      {{/each}}
      <br>
      <br>
      <div class="mt-2 mb-2">
        <h5>追隨者 : {{ followerCount }} </h5>
      </div>
      <br>
      {{#each users}}
        {{#if this.isFollower}}
          <div class="col-md-3 d-flex">
            <a href="/users/{{this.id}}">
              <img class="card-img-top img-fluid" src="{{this.image}}"  width="60px" height="40px">
            </a>
          </div>
        {{/if}}
      {{/each}}
      <br>
    </div>
    <div class="col-md-8 mb-2 d-flex flex-wrap">
      <div class="col-md-12 mb-2">
        <h5>{{ commentCount }} 已評論餐廳</h5>
      </div>
      <br>
        {{#each restaurants}}
          {{#if this.isCommented}}
            <div class="col-md-1 mb-2 me-2 d-flex">
              <a href="/restaurants/{{this.id}}">
                <img class="card-img-top img-fluid" src="{{this.image}}"  width="60px" height="40px">
              </a>
            </div>
          {{/if}}
        {{/each}}
      <br>
      <br>
       <div class="col-md-12 mb-2">
        <h5>{{ favoriteCount }} 已收藏餐廳</h5>
      </div>
      <br>
        {{#each restaurants}}
          {{#if this.isFavorited}}
            <div class="col-md-1 mb-2 me-2 d-flex">
              <a href="/restaurants/{{this.id}}">
                <img class="card-img-top img-fluid" src="{{this.image}}"  width="60px" height="40px">
              </a>
            </div>
          {{/if}}
        {{/each}}
      <br>
    </div>
  </div>
</div>
